@import "~src/variables.scss";

.panel {

    position: fixed;
    z-index: 10;
    height: 100vh;
    width: $nav-panel-width;
    background: $color-white;

    padding-top: 1.2rem;

    &__item {

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0;

        img {
            height: 2rem;
        }

        &:hover {

            background-color: darken($color-white, 10);
            cursor: pointer;
        }
    }
}
