@import "~src/variables.scss";

.list {

    padding: 5rem;  // swap it for a bootstrap container
    display: flex;
    flex-wrap: wrap;

    &__vehicle {

        flex: 1 0 33%;
        margin: 4rem;

        &_empty {

          content: '';
          opacity: 0;
        }
    }

    &__no-results {

        font-size: 4rem;
        font-weight: 300;
        color: $color-white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
