
.list {

    padding: 5rem;  // swap it for a bootstrap container
    display: flex;
    flex-wrap: wrap;

    &__vehicle {

        flex: 1 0 25%;
        margin: 4rem;

        &_empty {

          content: '';
          opacity: 0;
        }
    }
}
