@import "~src/variables.scss";

.form-container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    
    border: dashed 3px lighten($primary-color, 20);
    border-radius: 7px;
    padding: 5rem;
}
 