
<ng-container
  *ngIf="error; then failure; else success">
</ng-container>

<ng-template #success>
  <div class="custom-modal">
    <div class="custom-modal__body">
      <p class="custom-modal__text">El vehiculo con placa:</p>
      <p class="custom-modal__text_highlight">{{id}}</p>
      <p class="custom-modal__text">se ha registrado</p>
    </div>
  </div>  
</ng-template>

<ng-template #failure>
  <div class="custom-modal custom-modal_error">
    <div class="custom-modal__header">error</div>
    <div class="custom-modal__body">
      <p class="custom-modal__text">{{errorMessage}}</p>
    </div>
  </div>
</ng-template>
