
<div class=custom-modal>

  <div class="bill__section bill__section_spaced">
    
      <div class="bill__time">
        <img src="assets/down-arrow.svg">
        <div class="bill__date">9/8/2018, 2:02:08 p. m.</div>
      </div>
  
      <div class="bill__time">
          <img src="assets/up-arrow.svg">
          <div class="bill__date">9/8/2018, 2:02:08 p. m.</div>
      </div>
  
    </div>

  <div class="bill__section">
    <div class="bill__label">Dias</div>
    <div class="bill__value">1</div>
  </div>

  <div class="bill__section">
      <div class="bill__label">Horas</div>
      <div class="bill__value">5</div>
  </div>

  <div class="bill__section bill__section_hightligth">
      <div class="bill__label bill__label_red bill__label_bold">Total</div>
      <div class="bill__value">{{value | number: '.3'}}</div>
  </div>
  
</div>
